<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hey, It's Them!</title>
 <!--         <link href='http://fonts.googleapis.com/css?family=Neuton:400,700,800' rel='stylesheet' type='text/css'> -->
         <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,800' rel='stylesheet' type='text/css'>
         <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <script id="formTemplate" type="text/template">
            <input class="media" type="text" placeholder="Movie or TV show" value="<%= mod.attributes.query %>"/>
            <p class="amp"><% if (mod.collection.indexOf(mod) != (mod.collection.length - 1)) { %>
                &amp;
            <% } %></p>
        </script>
        <script id="actorTemplate" type="text/template">
            <% if (img) { %> <img src="<%= base_url %><%= profile_size %><%= img %>" alt="<%= name %>" /> <% } %><%= name %> | <%= character %>
        </script>
        <div id="media">
            <header>
            <h1><span class="boom">Hey!</span> I saw them in</h1>
            </header>
            <div class="theater">

                <form id="searchMedia" action="#">
                    <div class="queries">
                    
                    </div>
                    <button id="search">Search</button>
                </form>

            </div>
            <footer>
            </footer>
        </div>

        <script src="js/lib/lib.js"></script>
        <script src="js/lib/mvc.js"></script>
    </body>
</html>