<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Hey, It's Them!</title>
        <!--<link rel="stylesheet" href="css/screen.css">-->
    </head>
    <body>
    <script id="mediaTemplate" type="text/template">
     

    </script>
    <script id="actorTemplate" type="text/template">
        <img src="<%= base_url %><%= profile_size %><%= img %>" alt="<%= name %>" /><%= name %>
    </script>
        <div id="media">
            <form id="searchMedia" action="#">
                <div>
                    <p>Hey, I saw them in</p>
                    <input class="media" type="text" placeholder="Movie or TV show" />
                    <p>and</p>
                    <input class="media" type="text" placeholder="Movie or TV show" />
                </div>
                    <button id="search">Search</button>
            </form>
        </div>

        <script src="js/lib/lib.js"></script>
        <script src="js/lib/mvc.js"></script>
    </body>
</html>